.socialIcon_container {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: linear-gradient(140deg, #e6626231 0%, #e27d3541 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}
.rb_cardsImg{
    width: 120px;
    height: 80px;
    object-fit: cover;
    display: flex;
    justify-content: start;
    align-items: center;
}
.socialIcon_container:hover{
    background: linear-gradient(140deg, #de4c4c 0%, #e97623 35%);
    color: white;
}
.socialIcon_container:hover .socialIcon{
    color: white !important;
}
.socialIcon {
    color: #ff6a00;
    transition: all .5s ease-in-out;
}
.activeLikes{
    color: #de4c4c !important;
}
.btn_filter{
    border: none;
    padding: 6px 25px;
    text-transform: capitalize;
    font-weight: 500;
    background-image: linear-gradient(180deg, #FF8F50, #FF5324);
    box-shadow: #f344146e 0px 3px 54px;
    color: #fff;
    border-radius: 20px;
    font-size:.84rem;
  }

.comment_textBox{
    outline: none !important;
    border: 1px solid #c0c0c08f ;
}